<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Restoran</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/resto?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nama Restoran:</label>
            <input
              type="text"
              class="form-control nama"
              id="nama"
              name="nama"
              placeholder="Enter nama restoran"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Deskripsi:</label>
            <textarea
              type="text"
              class="form-control deskripsi"
              id="jurusan"
              name="deskripsi"
              placeholder="Enter deskripsi restoran"
              rows="3"
              required
            ></textarea>
          </div>
          <div class="form-group">
            <label for="name">Alamat</label>
            <textarea
              class="form-control alamat"
              id="exampleFormControlTextarea1"
              placeholder="Masukan alamat restoran"
              name="alamat"
              rows="3"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="name">Menu Favorit</label>
            <textarea
              class="form-control favoriteMenu"
              id="exampleFormControlTextarea1"
              placeholder="Masukan nama menu"
              name="favoriteMenu"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>